Repository cloudwego/cloudwego.github.io, pull requests merged in 2022-12, with the labels that each got.

#453 docs: add hertzsentry docs
  content/en/docs/hertz/tutorials/basic-feature/middleware/sentry.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/sentry.md
Labels: Hertz

#460 chore: add lark footer link
  config.toml
  layouts/partials/footer.html
  static/webfonts/lark.svg
Labels: website

#458 docs: add csrf docs
  content/en/docs/hertz/tutorials/basic-feature/middleware/csrf.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/csrf.md
Labels: Hertz

#452 docs: optimize graceful_shutdown docs
  content/en/docs/hertz/tutorials/basic-feature/graceful-shutdown.md
  content/zh/docs/hertz/tutorials/basic-feature/graceful-shutdown.md
Labels: Hertz

#467 docs: Fix an error in the routing document
  content/en/docs/hertz/tutorials/basic-feature/route.md
  content/zh/docs/hertz/tutorials/basic-feature/route.md
Labels: Hertz

#469 docs: supplement route English documents
  content/en/docs/hertz/tutorials/basic-feature/route.md
Labels: Hertz

#475 style: remove unused comment of transport_protocol doc
  content/en/docs/kitex/Tutorials/basic-feature/transport_protocol.md
  content/zh/docs/kitex/Tutorials/basic-feature/transport_protocol.md
Labels: Kitex

#466 doc: add http2 docs
  content/en/docs/hertz/tutorials/basic-feature/protocol/http2.md
  content/zh/docs/hertz/tutorials/basic-feature/protocol/http2.md
Labels: Hertz

#474 docs: add hertz recovery docs
  content/en/docs/hertz/tutorials/basic-feature/middleware/recovery.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/recovery.md
Labels: Hertz

#480 docs: enrich session doc, add distributed session part
  content/en/docs/hertz/tutorials/basic-feature/middleware/session.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/session.md
Labels: Hertz

#470 docs: add kitex grpc metadata docs
  content/en/docs/kitex/Tutorials/advanced-feature/metainfo.md
  content/zh/docs/kitex/Tutorials/advanced-feature/metainfo.md
Labels: Kitex

#468 docs: add redis sd center and add sd config
  content/en/docs/hertz/tutorials/service-governance/service_discovery.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery.md
Labels: Hertz

#483 docs: enrich the introduction of hertz-examples
  content/en/docs/hertz/tutorials/example/_index.md
  content/zh/docs/hertz/tutorials/example/_index.md
Labels: Hertz

#485 docs: optimize kitex docs of basic-features and reference
  content/en/docs/kitex/FAQ/_index.md
  content/en/docs/kitex/Getting started/_index.md
  content/en/docs/kitex/Overview/_index.md
  content/en/docs/kitex/Reference/exception.md
  content/en/docs/kitex/Reference/transport_protocol_ttheader.md
  content/en/docs/kitex/Reference/version.md
  content/en/docs/kitex/Tutorials/basic-feature/bizstatuserr.md
  content/en/docs/kitex/Tutorials/basic-feature/circuitbreaker.md
  content/en/docs/kitex/Tutorials/basic-feature/connection_type.md
  content/en/docs/kitex/Tutorials/basic-feature/limiting.md
  content/en/docs/kitex/Tutorials/basic-feature/loadbalance.md
  content/en/docs/kitex/Tutorials/basic-feature/logging.md
  content/en/docs/kitex/Tutorials/basic-feature/message_type.md
  content/en/docs/kitex/Tutorials/basic-feature/retry.md
  content/en/docs/kitex/Tutorials/basic-feature/serialization_protocol.md
  content/en/docs/kitex/Tutorials/basic-feature/timeout.md
  content/en/docs/kitex/Tutorials/basic-feature/tracing.md
  content/en/docs/kitex/Tutorials/basic-feature/transport_protocol.md
  content/en/docs/kitex/Tutorials/basic-feature/visit_directly.md
  content/zh/docs/kitex/FAQ/_index.md
  content/zh/docs/kitex/Getting started/_index.md
  content/zh/docs/kitex/Overview/_index.md
  content/zh/docs/kitex/Reference/exception.md
  content/zh/docs/kitex/Reference/transport_protocol_ttheader.md
  content/zh/docs/kitex/Reference/version.md
  content/zh/docs/kitex/Tutorials/basic-feature/bizstatuserr.md
  content/zh/docs/kitex/Tutorials/basic-feature/circuitbreaker.md
  content/zh/docs/kitex/Tutorials/basic-feature/connection_type.md
  content/zh/docs/kitex/Tutorials/basic-feature/limiting.md
  content/zh/docs/kitex/Tutorials/basic-feature/loadbalance.md
  content/zh/docs/kitex/Tutorials/basic-feature/logging.md
  content/zh/docs/kitex/Tutorials/basic-feature/message_type.md
  content/zh/docs/kitex/Tutorials/basic-feature/retry.md
  content/zh/docs/kitex/Tutorials/basic-feature/serialization_protocol.md
  content/zh/docs/kitex/Tutorials/basic-feature/timeout.md
  content/zh/docs/kitex/Tutorials/basic-feature/tracing.md
  content/zh/docs/kitex/Tutorials/basic-feature/transport_protocol.md
  content/zh/docs/kitex/Tutorials/basic-feature/visit_directly.md
Labels: Kitex

#484 docs: add kitex ref struct docs
  content/en/docs/kitex/Tutorials/code-gen/struct_reference_generator.md
  content/zh/docs/kitex/Tutorials/code-gen/struct_reference_generator.md
Labels: Kitex

#491 docs(volo): adapt to volo 0.3.0
  content/en/docs/volo/volo-grpc/getting-started/part_3.md
  content/en/docs/volo/volo-grpc/getting-started/part_4.md
  content/en/docs/volo/volo-thrift/getting-started/part_3.md
  content/en/docs/volo/volo-thrift/getting-started/part_4.md
  content/zh/docs/volo/guide/discovery_lb.md
  content/zh/docs/volo/guide/metadata.md
  content/zh/docs/volo/guide/observability.md
  content/zh/docs/volo/guide/with_callopt.md
  content/zh/docs/volo/volo-grpc/getting-started/part_3.md
  content/zh/docs/volo/volo-grpc/getting-started/part_4.md
  content/zh/docs/volo/volo-thrift/getting-started/part_3.md
  content/zh/docs/volo/volo-thrift/getting-started/part_4.md
Labels: Volo
