Repository cloudwego/cloudwego.github.io, pull requests merged in 2022-11, with the labels that each got.

#409 feat: update hertz performance image
  content/en/docs/hertz/overview/_index.md
  content/zh/docs/hertz/overview/_index.md
  static/img/docs/hertz-performance-3.png
Labels: Hertz, blog

#410 doc: update the example link of Proxyless
  content/en/docs/kitex/Tutorials/advanced-feature/xds.md
  content/zh/docs/kitex/Tutorials/advanced-feature/xds.md
Labels: Kitex

#408 docs: add another example for ut
  content/en/docs/hertz/tutorials/basic-feature/unit-test.md
  content/zh/docs/hertz/tutorials/basic-feature/unit-test.md
Labels: Hertz

#417 doc: add description of MinIdlePerAddress in the connection type doc
  content/en/docs/kitex/Tutorials/basic-feature/connection_type.md
  content/zh/docs/kitex/Tutorials/basic-feature/connection_type.md
Labels: Kitex

#421 feat: add i18n 404 page
  content/en/about/_index.html
  content/en/blog/_index.md
  content/zh/community/_index.md
  i18n/en.toml
  i18n/zh.toml
  layouts/404.html
  layouts/partials/handle-version-switch-404.html
Labels: website

#420 Optimize(docs): optimize zh blog for SEO
  content/zh/blog/news/1st_RPCKitex/index.md
  content/zh/blog/news/1st_httpHertz/index.md
  content/zh/blog/news/CloudWeGo_helps_NextArch/index.md
  content/zh/blog/news/Evolution_Kitex_HighPerformance/index.md
  content/zh/blog/news/Go_HTTP_Hertz_Arthec/index.md
  content/zh/blog/news/Go_HTTP_Hertz_Design/index.md
  content/zh/blog/news/Hertz_Open_Source/index.md
  content/zh/blog/news/Hertz_Open_Source_/index.md
  content/zh/blog/news/Kitex_perf_optimize_practices/index.md
  content/zh/blog/news/Kitex_performance_testing/index.md
  content/zh/blog/news/Microservices_OpenSource_CloudWeGo/index.md
  content/zh/blog/news/RUST _orGo/index.md
  content/zh/blog/news/Rust_or_Go/index.md
  content/zh/blog/news/article_to_learn_about_CloudWeGo/index.md
  content/zh/blog/news/bytedance_gonet_practice/index.md
  content/zh/blog/news/open_source_announcement/index.md
  content/zh/blog/news/open_source_community/index.md
  content/zh/blog/news/open_source_volo/index.md
Labels: website, blog

#422 Hertz v0.4.0 & Volo v0.2.1 & Hertz_Performance_Test
  content/en/blog/releases/Hertz/release-v040.md
  content/en/blog/releases/Volo/release-v021.md
  content/zh/blog/news/Hertz_Benchmark/index.md
  content/zh/blog/releases/Hertz/release-v040.md
  content/zh/blog/releases/Volo/release-v021.md
  static/img/blog/Hertz-benchmark/1.png
  static/img/blog/Hertz-benchmark/2.png
  static/img/community/weekly_report/CloudWeGo_20th_weekly_report.png
Labels: blog

#395 docs: improve middleware overview
  content/en/docs/hertz/tutorials/basic-feature/middleware/_index.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/_index.md
Labels: Hertz

#367 docs: add TLS doc for Hertz
  content/en/docs/hertz/tutorials/basic-feature/protocol/tls.md
  content/zh/docs/hertz/tutorials/basic-feature/protocol/tls.md
Labels: Hertz

#425 docs: refactor hlog
  content/en/docs/hertz/tutorials/framework-exten/log.md
  content/zh/docs/hertz/tutorials/framework-exten/log.md
Labels: Hertz

#386 docs : add docs for hertz client retry
  content/en/docs/hertz/reference/config.md
  content/en/docs/hertz/tutorials/basic-feature/retry.md
  content/en/docs/hertz/tutorials/basic-feature/unit-test.md
  content/zh/docs/hertz/reference/config.md
  content/zh/docs/hertz/tutorials/basic-feature/retry.md
  content/zh/docs/hertz/tutorials/basic-feature/unit-test.md
Labels: Hertz

#428 community_meeting_10.20 & 20th_weekly_report
  content/zh/community/meeting_notes/2022-10-20/_index.md
  content/zh/community/weekly_report/20th/_index.md
Labels: community

#430 fix: small fix on hertz blog and motore doc
  content/zh/blog/news/Hertz_Benchmark/index.md
  content/zh/docs/motore/overview/_index.md
Labels: blog

#396 docs: add docs for hooks
  content/en/docs/hertz/tutorials/basic-feature/hooks.md
  content/zh/docs/hertz/tutorials/basic-feature/hooks.md
Labels: Hertz

#389 docs : improve service_discovery doc
  content/en/docs/hertz/tutorials/service-governance/service_discovery.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery.md
Labels: Hertz

#429 docs: request profiler
  content/en/docs/kitex/Tutorials/advanced-feature/profiler.md
  content/zh/docs/kitex/Tutorials/advanced-feature/profiler.md
Labels: Kitex

#431 docs: add version information for hertz retry
  content/en/docs/hertz/reference/config.md
  content/en/docs/hertz/tutorials/basic-feature/retry.md
  content/zh/docs/hertz/reference/config.md
  content/zh/docs/hertz/tutorials/basic-feature/retry.md
Labels: Hertz

#434 docs: add zerolog to improve log.md
  content/en/docs/hertz/tutorials/framework-exten/log.md
  content/zh/docs/hertz/tutorials/framework-exten/log.md
Labels: Hertz

#437 docs: optimize official documents for jwt
  content/en/docs/hertz/tutorials/basic-feature/middleware/jwt.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/jwt.md
Labels: Hertz

#403 docs: update i18n docs
  content/en/docs/hertz/tutorials/basic-feature/middleware/i18n.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/i18n.md
Labels: Hertz

#438 style(kitex.png):kitex architecture
  static/img/docs/kitex.drawio.svg
  static/img/docs/kitex.png
Labels: Kitex

#413 docs: improve proxy docs
  content/en/docs/hertz/tutorials/basic-feature/proxy.md
  content/zh/docs/hertz/tutorials/basic-feature/proxy.md
Labels: Hertz

#440 style: adjust the height of td-sidebar-nav
  assets/scss/_sidebar-tree.scss
Labels: website

#442 optimize(docs): optimize en blogs with keywords and description
  content/en/blog/news/Kitex_perf_optimize_practices/index.md
  content/en/blog/news/Kitex_performance_testing/index.md
  content/en/blog/news/article_to_learn_about_CloudWeGo/index.md
  content/en/blog/news/bytedance_gonet_practice/index.md
  content/en/blog/news/open_source_announcement/index.md
Labels: blog

#441 docs: optimze hertz-jwt docs
  content/en/docs/hertz/tutorials/basic-feature/middleware/jwt.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/jwt.md
Labels: Hertz

#404 docs: update gzip docs
  content/en/docs/hertz/tutorials/basic-feature/middleware/gzip.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/gzip.md
Labels: Hertz

#447 docs: improve Kitex_Proxyless blog
  content/zh/blog/news/Kitex_Proxyless_OpenTelemetry/index.md
Labels: blog

#445 feat: add swagger init param
  content/en/docs/hertz/tutorials/basic-feature/middleware/swagger.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/swagger.md
Labels: Hertz

#449 chore: bluebook download and event
  content/en/cooperation/_index.md
  content/zh/cooperation/_index.md
Labels: website

#381 doc: improve docs for session middleware
  content/en/docs/hertz/tutorials/basic-feature/middleware/session.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/session.md
Labels: Hertz

#407 docs: add secure docs
  content/en/docs/hertz/tutorials/basic-feature/middleware/secure.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/secure.md
Labels: Hertz

#448 doc: add WithWriteTimeout
  content/en/docs/hertz/reference/config.md
  content/zh/docs/hertz/reference/config.md
Labels: Hertz

#451 optimize: refine the description of unsupported tls
  content/en/docs/hertz/tutorials/basic-feature/protocol/tls.md
  content/zh/docs/hertz/tutorials/basic-feature/protocol/tls.md
Labels: Hertz

#454 chore: footer link
  config.toml
Labels: website
