Repository cloudwego/cloudwego.github.io, pull requests merged in 2023-11, with the labels that each got.

#848 chore: update cwgo model
  content/en/docs/cwgo/tutorials/db/_index.md
  content/zh/docs/cwgo/tutorials/db/_index.md
Labels: Cwgo

#849 docs: add document for idl_trimmer tool
  content/en/docs/kitex/Tutorials/code-gen/idl_trimmer.md
  content/zh/docs/kitex/Tutorials/code-gen/idl_trimmer.md
  static/img/docs/idl_trimmer_process1.jpg
  static/img/docs/idl_trimmer_process2.jpg
Labels: Kitex

#856 docs: fix setquerystring
  content/en/docs/hertz/tutorials/basic-feature/context/request.md
  content/zh/docs/hertz/tutorials/basic-feature/context/request.md
Labels: Hertz

#858 chore: use en logos in en homepage
  content/en/_index.html
  static/img/usedby/feishu-en.png
  static/img/usedby/moonton-en.png
  static/img/usedby/toutiao-en.png
Labels: website

#860 chore: add banner
  assets/scss/_styles_project.scss
  content/zh/_index.html
  layouts/_default/baseof.html
  layouts/partials/banner.md
Labels: website

#854 docs:update sse.md
  content/en/docs/hertz/tutorials/basic-feature/protocol/sse.md
  content/zh/docs/hertz/tutorials/basic-feature/protocol/sse.md
Labels: Hertz

#861 feat: add a new blog for CloudWeGo introduction
  content/en/blog/news/The_Role_of_CloudWeGo_in_Modern_Cloud_Native_Applications/index.md
  static/img/blog/The_Role_of_CloudWeGo_in_Modern_Cloud_Native_Applications/1.png
  static/img/blog/The_Role_of_CloudWeGo_in_Modern_Cloud_Native_Applications/2.png
  static/img/blog/The_Role_of_CloudWeGo_in_Modern_Cloud_Native_Applications/3.png
  static/img/blog/The_Role_of_CloudWeGo_in_Modern_Cloud_Native_Applications/4.png
  static/img/blog/The_Role_of_CloudWeGo_in_Modern_Cloud_Native_Applications/5.png
Labels: blog
