Repository cloudwego/cloudwego.github.io, pull requests merged in 2023-02, with the labels that each got.

#524 docs: add file type tags for better display of docs
  content/en/docs/hertz/tutorials/toolkit/template.md
  content/zh/docs/hertz/tutorials/toolkit/template.md
Labels: Hertz

#527 chore: top level navbar missing in latest hugo
  layouts/partials/sidebar-tree.html
Labels: website

#528 fix: not expand when active
  layouts/partials/sidebar-tree.html
Labels: website

#526 docs: add casbin middleware
  content/en/docs/hertz/tutorials/basic-feature/middleware/casbin.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/casbin.md
Labels: Hertz

#529 docs: add Etag middleware
  content/en/docs/hertz/tutorials/basic-feature/middleware/etag.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/etag.md
Labels: Hertz

#531 chore: remove unused desc
  content/en/docs/kitex/Tutorials/service-governance/tracing.md
Labels: Kitex

#532 docs: update kitex tempalte extension
  content/en/docs/kitex/Tutorials/code-gen/template_extension.md
  content/zh/docs/kitex/Tutorials/code-gen/template_extension.md
Labels: Kitex

#533 docs: optimise hertz overview & getting-started
  content/en/docs/hertz/getting-started/_index.md
  content/en/docs/hertz/overview/_index.md
Labels: Hertz

#535 docs(en): add volo release notes for v0.3.2
  content/en/blog/releases/Volo/release-v032.md
  content/zh/blog/releases/Volo/release-v032.md
Labels: Volo

#536 docs: supplement server configuration
  content/en/docs/hertz/reference/config.md
  content/zh/docs/hertz/reference/config.md
Labels: Hertz

#534 feat: add cwgo docs
  content/en/_index.html
  content/en/docs/cwgo/_index.md
  content/en/docs/cwgo/getting-started/_index.md
  content/en/docs/cwgo/overview/_index.md
  content/en/docs/cwgo/tutorials/_index.md
  content/en/docs/cwgo/tutorials/cli/_index.md
  content/en/docs/cwgo/tutorials/client/_index.md
  content/en/docs/cwgo/tutorials/db/_index.md
  content/en/docs/cwgo/tutorials/layout/_index.md
  content/en/docs/cwgo/tutorials/templete-extension/_index.md
  content/en/docs/motore/_index.md
  content/en/docs/pilota/_index.md
  content/zh/_index.html
  content/zh/docs/cwgo/_index.md
  content/zh/docs/cwgo/getting-started/_index.md
  content/zh/docs/cwgo/overview/_index.md
  content/zh/docs/cwgo/tutorials/_index.md
  content/zh/docs/cwgo/tutorials/cli/_index.md
  content/zh/docs/cwgo/tutorials/client/_index.md
  content/zh/docs/cwgo/tutorials/db/_index.md
  content/zh/docs/cwgo/tutorials/layout/_index.md
  content/zh/docs/cwgo/tutorials/templete-extension/_index.md
  content/zh/docs/motore/_index.md
  content/zh/docs/pilota/_index.md
  static/img/docs/cwgo_dynamic.gif
  static/img/docs/cwgo_generate_type.png
Labels: Cwgo

#521 optimize: improv template and client doc
  content/en/docs/hertz/tutorials/toolkit/client.md
  content/en/docs/hertz/tutorials/toolkit/template.md
  content/zh/docs/hertz/tutorials/toolkit/client.md
  content/zh/docs/hertz/tutorials/toolkit/template.md
Labels: Hertz

#540 fix(hz): hz usage content
  content/en/docs/hertz/tutorials/toolkit/usage/annotation.md
  content/en/docs/hertz/tutorials/toolkit/usage/cautions.md
  content/en/docs/hertz/tutorials/toolkit/usage/command.md
  content/en/docs/hertz/tutorials/toolkit/usage/install.md
  content/en/docs/hertz/tutorials/toolkit/usage/layout.md
  content/en/docs/hertz/tutorials/toolkit/usage/usage-protobuf.md
  content/en/docs/hertz/tutorials/toolkit/usage/usage-thrift.md
  content/en/docs/hertz/tutorials/toolkit/usage/usage.md
  content/zh/docs/hertz/tutorials/toolkit/layout.yaml
  content/zh/docs/hertz/tutorials/toolkit/usage/annotation.md
  content/zh/docs/hertz/tutorials/toolkit/usage/cautions.md
  content/zh/docs/hertz/tutorials/toolkit/usage/command.md
  content/zh/docs/hertz/tutorials/toolkit/usage/install.md
  content/zh/docs/hertz/tutorials/toolkit/usage/layout.md
  content/zh/docs/hertz/tutorials/toolkit/usage/usage-protobuf.md
  content/zh/docs/hertz/tutorials/toolkit/usage/usage-thrift.md
  content/zh/docs/hertz/tutorials/toolkit/usage/usage.md
Labels: Hertz

#543 optimize: details on compatibility with thrift
  content/zh/docs/kitex/Getting started/_index.md
Labels: Kitex

#542 fix: settings.py is not generated automatically
  content/zh/docs/kitex/Getting started/_index.md
Labels: Kitex

#545 optimize: thrift version and settings.py issue
  content/en/docs/kitex/Getting started/_index.md
Labels: Kitex

#539 docs: fix typo on kitex/Tutorials/basic_feature/ciruitbreaker
  content/en/docs/kitex/Tutorials/basic-feature/circuitbreaker.md
  content/zh/docs/kitex/Tutorials/basic-feature/circuitbreaker.md
Labels: Kitex

#549 docs(blog): translate getting-started-with-hertz-performance-testing-guide
  content/en/blog/news/Hertz_Benchmark/index.md
  content/zh/blog/news/Hertz_Benchmark/index.md
Labels: blog

#552 docs(hz): modify the number of indentation levels
  content/en/docs/hertz/tutorials/toolkit/plugin.md
  content/en/docs/hertz/tutorials/toolkit/usage/annotation.md
  content/en/docs/hertz/tutorials/toolkit/usage/command.md
  content/en/docs/hertz/tutorials/toolkit/usage/usage-protobuf.md
  content/en/docs/hertz/tutorials/toolkit/usage/usage-thrift.md
  content/en/docs/hertz/tutorials/toolkit/usage/usage.md
  content/zh/docs/hertz/tutorials/toolkit/plugin.md
  content/zh/docs/hertz/tutorials/toolkit/usage/annotation.md
  content/zh/docs/hertz/tutorials/toolkit/usage/command.md
  content/zh/docs/hertz/tutorials/toolkit/usage/usage-protobuf.md
  content/zh/docs/hertz/tutorials/toolkit/usage/usage-thrift.md
  content/zh/docs/hertz/tutorials/toolkit/usage/usage.md
Labels: Hertz

#554 feat(hertz): add thrift comment
  content/en/docs/hertz/tutorials/toolkit/usage/usage-thrift.md
  content/zh/docs/hertz/tutorials/toolkit/usage/usage-thrift.md
Labels: Hertz

#553 docs: add hertz-cache docs
  content/en/docs/hertz/tutorials/basic-feature/middleware/cache.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/cache.md
Labels: Hertz
