Repository cloudwego/cloudwego.github.io, pull requests merged in 2023-04, with the labels that each got.

#597 optimzie: custom_tpl docs
  content/zh/docs/kitex/Tutorials/code-gen/custom_tpl.md
Labels: Kitex

#594 doc(kitex): translate kitex custom template doc
  content/en/docs/kitex/Tutorials/code-gen/custom_tpl.md
Labels: Kitex

#593 doc: update validator.md in en/zh tutorial docs
  content/en/docs/kitex/Tutorials/code-gen/validator.md
  content/zh/docs/kitex/Tutorials/code-gen/validator.md
Labels: Kitex

#599 docs: correct incorrect type descriptions
  content/en/docs/hertz/tutorials/basic-feature/middleware/basic-auth.md
  content/en/docs/hertz/tutorials/basic-feature/middleware/requestid.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/basic-auth.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/requestid.md
Labels: Hertz

#596 docs(kitex): translate code-gen and fix typo
  content/en/docs/kitex/Tutorials/code-gen/code_generation.md
  content/zh/docs/kitex/Tutorials/code-gen/code_generation.md
Labels: Kitex

#598 docs(hertz): refactor tutorials layout
  content/en/docs/hertz/tutorials/framework-exten/_index.md
  content/en/docs/hertz/tutorials/observability/_index.md
  content/en/docs/hertz/tutorials/observability/log.md
  content/en/docs/hertz/tutorials/observability/monitoring.md
  content/en/docs/hertz/tutorials/observability/open-telemetry.md
  content/en/docs/hertz/tutorials/observability/tracing.md
  content/en/docs/hertz/tutorials/service-governance/_index.md
  content/en/docs/hertz/tutorials/service-governance/sentinel.md
  content/en/docs/hertz/tutorials/service-governance/service_discovery.md
  content/en/docs/hertz/tutorials/toolkit/_index.md
  content/zh/docs/hertz/tutorials/_index.md
  content/zh/docs/hertz/tutorials/framework-exten/_index.md
  content/zh/docs/hertz/tutorials/observability/_index.md
  content/zh/docs/hertz/tutorials/observability/log.md
  content/zh/docs/hertz/tutorials/observability/monitoring.md
  content/zh/docs/hertz/tutorials/observability/open-telemetry.md
  content/zh/docs/hertz/tutorials/observability/tracing.md
  content/zh/docs/hertz/tutorials/service-governance/_index.md
  content/zh/docs/hertz/tutorials/service-governance/sentinel.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery.md
  content/zh/docs/hertz/tutorials/toolkit/_index.md
Labels: Hertz

#603 chore: fix link error
  content/en/blog/releases/Kitex/release-v005.md
  content/en/docs/cwgo/getting-started/_index.md
  content/en/docs/cwgo/tutorials/cli/_index.md
  content/en/docs/hertz/getting-started/_index.md
  content/en/docs/hertz/overview/_index.md
  content/en/docs/hertz/tutorials/basic-feature/protocol/_index.md
  content/en/docs/hertz/tutorials/observability/log.md
  content/en/docs/hertz/tutorials/observability/monitoring.md
  content/en/docs/kitex/FAQ/_index.md
  content/en/docs/netpoll/Overview/_index.md
  content/zh/blog/news/Go_HTTP_Hertz_Design/index.md
  content/zh/blog/news/article_to_learn_about_CloudWeGo/index.md
  content/zh/blog/releases/Kitex/release-v005.md
  content/zh/docs/cwgo/getting-started/_index.md
  content/zh/docs/cwgo/tutorials/cli/_index.md
  content/zh/docs/hertz/getting-started/_index.md
  content/zh/docs/hertz/overview/_index.md
  content/zh/docs/kitex/FAQ/_index.md
  content/zh/docs/netpoll/Overview/_index.md
Labels: website

#613 docs: refactor kitex Tutorials layout
  content/en/docs/kitex/Tutorials/advanced-feature/_index.md
  content/en/docs/kitex/Tutorials/basic-feature/bizstatuserr.md
  content/en/docs/kitex/Tutorials/code-gen/_index.md
  content/en/docs/kitex/Tutorials/framework-exten/_index.md
  content/en/docs/kitex/Tutorials/observability/_index.md
  content/en/docs/kitex/Tutorials/observability/instrumentation.md
  content/en/docs/kitex/Tutorials/observability/logging.md
  content/en/docs/kitex/Tutorials/observability/monitoring.md
  content/en/docs/kitex/Tutorials/observability/tracing.md
  content/en/docs/kitex/Tutorials/options/_index.md
  content/en/docs/kitex/Tutorials/service-governance/access_control.md
  content/en/docs/kitex/Tutorials/service-governance/circuitbreaker.md
  content/en/docs/kitex/Tutorials/service-governance/fallback.md
  content/en/docs/kitex/Tutorials/service-governance/limiting.md
  content/en/docs/kitex/Tutorials/service-governance/loadbalance.md
  content/en/docs/kitex/Tutorials/service-governance/retry.md
  content/en/docs/kitex/Tutorials/service-governance/timeout.md
  content/zh/docs/kitex/Tutorials/advanced-feature/_index.md
  content/zh/docs/kitex/Tutorials/basic-feature/bizstatuserr.md
  content/zh/docs/kitex/Tutorials/code-gen/_index.md
  content/zh/docs/kitex/Tutorials/framework-exten/_index.md
  content/zh/docs/kitex/Tutorials/observability/_index.md
  content/zh/docs/kitex/Tutorials/observability/instrumentation.md
  content/zh/docs/kitex/Tutorials/observability/logging.md
  content/zh/docs/kitex/Tutorials/observability/monitoring.md
  content/zh/docs/kitex/Tutorials/observability/tracing.md
  content/zh/docs/kitex/Tutorials/options/_index.md
  content/zh/docs/kitex/Tutorials/service-governance/access_control.md
  content/zh/docs/kitex/Tutorials/service-governance/circuitbreaker.md
  content/zh/docs/kitex/Tutorials/service-governance/fallback.md
  content/zh/docs/kitex/Tutorials/service-governance/limiting.md
  content/zh/docs/kitex/Tutorials/service-governance/loadbalance.md
  content/zh/docs/kitex/Tutorials/service-governance/retry.md
  content/zh/docs/kitex/Tutorials/service-governance/timeout.md
Labels: Kitex

#615 chore: fix link error
  content/en/blog/releases/Kitex/release-v040.md
  content/en/blog/releases/Kitex/release-v050.md
  content/en/docs/kitex/Tutorials/advanced-feature/generic-call/_index.md
  content/en/docs/kitex/Tutorials/framework-exten/service_discovery.md
  content/en/docs/kitex/Tutorials/options/call_options.md
  content/en/docs/kitex/Tutorials/options/client_options.md
  content/en/docs/kitex/Tutorials/options/server_options.md
  content/en/docs/kitex/Tutorials/service-governance/fallback.md
  content/zh/blog/news/Microservices_OpenSource_CloudWeGo/index.md
  content/zh/blog/releases/Kitex/release-v040.md
  content/zh/blog/releases/Kitex/release-v050.md
  content/zh/docs/kitex/Tutorials/advanced-feature/generic-call/_index.md
  content/zh/docs/kitex/Tutorials/framework-exten/service_discovery.md
  content/zh/docs/kitex/Tutorials/options/call_options.md
  content/zh/docs/kitex/Tutorials/options/client_options.md
  content/zh/docs/kitex/Tutorials/options/server_options.md
  content/zh/docs/kitex/Tutorials/service-governance/fallback.md
Labels: website

#620 doc: add release for v0.5.2
  content/en/blog/releases/Kitex/release-v052.md
  content/zh/blog/releases/Kitex/release-v052.md
Labels: Kitex

#624 feat(hertz): merge hz feature to new fold
  content/en/docs/hertz/tutorials/toolkit/more-feature/_index.md
  content/en/docs/hertz/tutorials/toolkit/more-feature/client.md
  content/en/docs/hertz/tutorials/toolkit/more-feature/plugin.md
  content/en/docs/hertz/tutorials/toolkit/more-feature/template.md
  content/zh/docs/hertz/tutorials/toolkit/more-feature/_index.md
  content/zh/docs/hertz/tutorials/toolkit/more-feature/client.md
  content/zh/docs/hertz/tutorials/toolkit/more-feature/plugin.md
  content/zh/docs/hertz/tutorials/toolkit/more-feature/template.md
Labels: Hertz
