Repository cloudwego/cloudwego.github.io, pull requests merged in 2023-12, with the labels that each got.

#875 docs(kitex): Update release-v080.md
  content/zh/blog/releases/Kitex/release-v080.md
Labels: Kitex

#867 docs:add config-center
  content/en/docs/kitex/Tutorials/options/client_options.md
  content/en/docs/kitex/Tutorials/service-governance/config-center/_index.md
  content/en/docs/kitex/Tutorials/service-governance/config-center/etcd.md
  content/zh/docs/kitex/Tutorials/options/client_options.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/_index.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/etcd.md
Labels: Kitex

#878 chore: update en index page with new description
  assets/scss/home.scss
  content/en/_index.html
  layouts/shortcodes/blocks/feature-wide.html
  static/img/home/extensibility.png
  static/img/home/high-perf.png
  static/img/home/multi-proto.png
  static/img/home/tool.png
  static/img/usedby/capcut.png
  static/img/usedby/holomatic-en.png
  static/img/usedby/nextdata.png
  static/img/usedby/semir-en.png
Labels: website

#879 chore: update homepage logo for bytedance
  content/en/_index.html
  static/img/usedby/ByteDance-en.png
Labels: website

#883 docs(en): add volo guide and faq
  content/en/docs/volo/faq/_index.md
  content/en/docs/volo/guide/_index.md
  content/en/docs/volo/guide/discovery_lb.md
  content/en/docs/volo/guide/metadata.md
  content/en/docs/volo/guide/observability.md
  content/en/docs/volo/guide/with_callopt.md
Labels: Volo

#885 feat: logos scroll
  assets/scss/home.scss
  content/en/_index.html
  content/zh/_index.html
Labels: website

#887 website: translation for Vulnerability Reporting Page
  content/en/security/vulnerability-reporting/_index.html
Labels: website

#889 docs:config-apollo documentation
  content/en/docs/kitex/Tutorials/service-governance/config-center/apollo.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/apollo.md
Labels: Kitex

#888 website: update to the Community page
  content/en/community/_index.html
  content/en/community/_index.md
Labels: website

#868 docs: optimize the directory structure and add service discovery docs
  content/en/docs/kitex/Tutorials/service-governance/discovery.md
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/_index.md
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/consul.md
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/dns.md
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/etcd.md
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/eureka.md
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/nacos.md
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/polaris.md
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/service-comb.md
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/zookeeper.md
  content/zh/docs/kitex/Tutorials/service-governance/discovery.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/_index.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/consul.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/dns.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/etcd.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/eureka.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/nacos.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/polaris.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/service-comb.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/zookeeper.md
Labels: Kitex

#893 fix: button cover on mobile
  assets/scss/home.scss
  layouts/shortcodes/blocks/cover.html
Labels: website

#894 docs: update struct_reference_generator
  content/en/docs/kitex/Tutorials/code-gen/struct_reference_generator.md
  content/zh/docs/kitex/Tutorials/code-gen/struct_reference_generator.md
Labels: Kitex

#897 chore(cwgo): remove $ prefix of bash and update prism
  content/en/docs/cwgo/getting-started/_index.md
  content/en/docs/cwgo/tutorials/cli/_index.md
  content/en/docs/cwgo/tutorials/client/_index.md
  content/zh/docs/cwgo/getting-started/_index.md
  static/css/prism.css
  static/js/prism.js
Labels: Cwgo

#904 doc: add the document to introduce the config-file
  content/en/docs/kitex/Tutorials/service-governance/config-center/_index.md
  content/en/docs/kitex/Tutorials/service-governance/config-center/file.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/_index.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/file.md
Labels: Kitex

#901 doc: add the document to introduce the config-zookeeper
  content/en/docs/kitex/Tutorials/service-governance/config-center/_index.md
  content/en/docs/kitex/Tutorials/service-governance/config-center/zookeeper.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/_index.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/zookeeper.md
Labels: Kitex

#907 blog: add kitex 2nd anniversary retrospect
  content/zh/blog/news/2nd_Kitex_retrospect/index.md
  static/img/blog/2nd_Kitex_retrospect/GLS_example.png
  static/img/blog/2nd_Kitex_retrospect/call_example.png
  static/img/blog/2nd_Kitex_retrospect/config_cases.png
  static/img/blog/2nd_Kitex_retrospect/dynamicgo.png
  static/img/blog/2nd_Kitex_retrospect/fallback_example.png
  static/img/blog/2nd_Kitex_retrospect/frugal_current.png
  static/img/blog/2nd_Kitex_retrospect/frugal_future.png
  static/img/blog/2nd_Kitex_retrospect/frugal_performance.png
  static/img/blog/2nd_Kitex_retrospect/generic_call.jpeg
  static/img/blog/2nd_Kitex_retrospect/kitex_dubbo.jpeg
  static/img/blog/2nd_Kitex_retrospect/kitex_transport.png
  static/img/blog/2nd_Kitex_retrospect/nacos_code.png
  static/img/blog/2nd_Kitex_retrospect/nacos_config.png
  static/img/blog/2nd_Kitex_retrospect/new_code.png
  static/img/blog/2nd_Kitex_retrospect/old_code.png
Labels: blog

#900 doc: sync User guide to generic call with dynamicgo
  content/en/docs/kitex/Tutorials/advanced-feature/generic-call/generic-call-dynamicgo.md
  content/zh/docs/kitex/Tutorials/advanced-feature/generic-call/generic-call-dynamicgo.md
Labels: Kitex
