Repository cloudwego/cloudwego.github.io, pull requests merged in 2023-05, with the labels that each got.

#595 doc(hertz):update the tutorial documentation of the logger component
  content/en/docs/hertz/tutorials/framework-exten/log.md
  content/en/docs/hertz/tutorials/framework-exten/log/_index.md
  content/en/docs/hertz/tutorials/framework-exten/log/logrus.md
  content/en/docs/hertz/tutorials/framework-exten/log/zap.md
  content/en/docs/hertz/tutorials/framework-exten/log/zerolog.md
  content/en/docs/hertz/tutorials/observability/log.md
  content/zh/docs/hertz/tutorials/framework-exten/log.md
  content/zh/docs/hertz/tutorials/framework-exten/log/_index.md
  content/zh/docs/hertz/tutorials/framework-exten/log/logrus.md
  content/zh/docs/hertz/tutorials/framework-exten/log/zap.md
  content/zh/docs/hertz/tutorials/framework-exten/log/zerolog.md
  content/zh/docs/hertz/tutorials/observability/log.md
Labels: Hertz

#633 docs(zh/en): add shmipc open source blog
  _typos.toml
  content/en/blog/news/Shmipc_Open_Source/index.md
  content/zh/blog/news/Shmipc_Open_Source/index.md
  static/img/blog/Shmipc_Open_Source/benchmark.png
  static/img/blog/Shmipc_Open_Source/share_memory.jpeg
  static/img/blog/Shmipc_Open_Source/zero_copy.png
Labels: blog, shmipc

#634 fix: fix the wrong address for the log document
  content/en/docs/hertz/tutorials/observability/log.md
Labels: Hertz

#612 doc: update Error Handle Chinese doc
  content/en/docs/hertz/tutorials/basic-feature/error-handle.md
  content/zh/docs/hertz/tutorials/basic-feature/error-handle.md
Labels: Hertz

#636 chore: add link to orginal users
  content/en/_index.html
  content/zh/_index.html
Labels: website

#623 doc(hertz): update service discovery doc
  _typos.toml
  content/en/docs/hertz/tutorials/service-governance/service_discovery.md
  content/en/docs/hertz/tutorials/service-governance/service_discovery/_index.md
  content/en/docs/hertz/tutorials/service-governance/service_discovery/consul.md
  content/en/docs/hertz/tutorials/service-governance/service_discovery/etcd.md
  content/en/docs/hertz/tutorials/service-governance/service_discovery/eureka.md
  content/en/docs/hertz/tutorials/service-governance/service_discovery/nacos.md
  content/en/docs/hertz/tutorials/service-governance/service_discovery/polaris.md
  content/en/docs/hertz/tutorials/service-governance/service_discovery/redis.md
  content/en/docs/hertz/tutorials/service-governance/service_discovery/servicecomb.md
  content/en/docs/hertz/tutorials/service-governance/service_discovery/zookeeper.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery/_index.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery/consul.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery/etcd.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery/eureka.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery/nacos.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery/polaris.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery/redis.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery/servicecomb.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery/zookeeper.md
Labels: Hertz

#602 docs(hertz): add engine docs
  content/en/docs/hertz/tutorials/basic-feature/adaptor.md
  content/en/docs/hertz/tutorials/basic-feature/binding-and-validate.md
  content/en/docs/hertz/tutorials/basic-feature/engine.md
  content/en/docs/hertz/tutorials/basic-feature/error-handle.md
  content/en/docs/hertz/tutorials/basic-feature/graceful-shutdown.md
  content/en/docs/hertz/tutorials/basic-feature/hooks.md
  content/en/docs/hertz/tutorials/basic-feature/middleware/_index.md
  content/en/docs/hertz/tutorials/basic-feature/network-lib.md
  content/en/docs/hertz/tutorials/basic-feature/protocol/_index.md
  content/en/docs/hertz/tutorials/basic-feature/proxy.md
  content/en/docs/hertz/tutorials/basic-feature/retry.md
  content/en/docs/hertz/tutorials/basic-feature/stream.md
  content/en/docs/hertz/tutorials/basic-feature/unit-test.md
  content/zh/docs/hertz/tutorials/basic-feature/adaptor.md
  content/zh/docs/hertz/tutorials/basic-feature/binding-and-validate.md
  content/zh/docs/hertz/tutorials/basic-feature/engine.md
  content/zh/docs/hertz/tutorials/basic-feature/error-handle.md
  content/zh/docs/hertz/tutorials/basic-feature/graceful-shutdown.md
  content/zh/docs/hertz/tutorials/basic-feature/hooks.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/_index.md
  content/zh/docs/hertz/tutorials/basic-feature/network-lib.md
  content/zh/docs/hertz/tutorials/basic-feature/protocol/_index.md
  content/zh/docs/hertz/tutorials/basic-feature/proxy.md
  content/zh/docs/hertz/tutorials/basic-feature/retry.md
  content/zh/docs/hertz/tutorials/basic-feature/stream.md
  content/zh/docs/hertz/tutorials/basic-feature/unit-test.md
Labels: Hertz

#622 feat: update custom template docs
  content/en/docs/kitex/Tutorials/code-gen/custom_tpl.md
  content/zh/docs/kitex/Tutorials/code-gen/custom_tpl.md
Labels: Kitex

#632 feat: silent mode
  content/en/docs/hertz/tutorials/observability/log.md
  content/zh/docs/hertz/tutorials/observability/log.md
Labels: Hertz

#621 feat(hz): add protobuf extend statement
  content/en/docs/hertz/tutorials/toolkit/usage/usage-protobuf.md
  content/zh/docs/hertz/tutorials/toolkit/usage/usage-protobuf.md
Labels: Hertz

#638 feat(hz): update hz template usage
  content/en/docs/hertz/tutorials/toolkit/more-feature/template.md
  content/zh/docs/hertz/tutorials/toolkit/more-feature/template.md
Labels: Hertz

#639 docs: add FAQ in docs of observability
  content/en/docs/hertz/tutorials/observability/log.md
  content/zh/docs/hertz/tutorials/observability/log.md
Labels: Hertz

#642 fix: fix a link in docs
  content/en/docs/kitex/Tutorials/advanced-feature/generic-call/_index.md
  content/zh/docs/kitex/Tutorials/advanced-feature/generic-call/_index.md
Labels: Kitex

#644 docs: update hz's client usage
  content/en/docs/hertz/tutorials/toolkit/more-feature/client.md
  content/zh/docs/hertz/tutorials/toolkit/more-feature/client.md
Labels: Hertz

#652 Added English Blogs for CloudWeGo (Volo, Kitex and Hertz)
  content/en/blog/news/1st_RPCKitex/index.md
  content/en/blog/news/Hertz_Open_Source/index.md
  content/en/blog/news/open_source_volo/index.md
  static/img/blog/Kitex_architecture_explained_en/1.png
  static/img/blog/Kitex_architecture_explained_en/10.png
  static/img/blog/Kitex_architecture_explained_en/11.png
  static/img/blog/Kitex_architecture_explained_en/12.png
  static/img/blog/Kitex_architecture_explained_en/13.png
  static/img/blog/Kitex_architecture_explained_en/14.png
  static/img/blog/Kitex_architecture_explained_en/15.png
  static/img/blog/Kitex_architecture_explained_en/16.png
  static/img/blog/Kitex_architecture_explained_en/17.png
  static/img/blog/Kitex_architecture_explained_en/18.png
  static/img/blog/Kitex_architecture_explained_en/2.png
  static/img/blog/Kitex_architecture_explained_en/3.png
  static/img/blog/Kitex_architecture_explained_en/4.png
  static/img/blog/Kitex_architecture_explained_en/5.png
  static/img/blog/Kitex_architecture_explained_en/6.png
  static/img/blog/Kitex_architecture_explained_en/7.png
  static/img/blog/Kitex_architecture_explained_en/8.png
  static/img/blog/Kitex_architecture_explained_en/9.png
  static/img/blog/Kitex_architecture_explained_en/frugal.png
Labels: blog

#664 docs(volo): use type_alias_impl_trait
  content/en/blog/news/open_source_volo/index.md
  content/en/docs/motore/overview/_index.md
  content/en/docs/volo/volo-grpc/getting-started/part_2.md
  content/en/docs/volo/volo-thrift/getting-started/part_2.md
  content/zh/blog/news/open_source_volo/index.md
  content/zh/docs/volo/volo-grpc/getting-started/part_2.md
  content/zh/docs/volo/volo-thrift/getting-started/part_2.md
Labels: Volo

#660 fix: add go mod init
  content/en/docs/hertz/getting-started/_index.md
  content/zh/docs/hertz/getting-started/_index.md
Labels: Hertz

#671 chore: link the project issue to a specific project
  config.toml
  layouts/partials/page-meta-links.html
Labels: website

#672 chore: remove debug print
  layouts/partials/page-meta-links.html
Labels: website
