Repository cloudwego/cloudwego.github.io, pull requests merged in 2024-07, with the labels that each got.

#1103 docs/rename config etcd prefix
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/etcd.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/etcd.md
Labels: Kitex

#1104 website: add more use cases in en version.
  content/en/cooperation/_index.md
  content/en/cooperation/construct.md
  content/en/cooperation/foundersc.md
  content/en/cooperation/shumei.md
  content/en/cooperation/tanwan.md
  content/zh/cooperation/_index.md
Labels: website

#1091 docs: add protoc gen validator
  content/en/docs/kitex/Tutorials/code-gen/protoc_validator.md
  content/zh/docs/kitex/Tutorials/code-gen/protoc_validator.md
Labels: Kitex

#1109 chore: update deprecated hugo config
  config.toml
  layouts/partials/head.html
Labels: website

#1107 fix: Update landing page link down button position and smooth scrolling
  assets/scss/blocks/_cover.scss
  assets/scss/home.scss
  assets/scss/main.scss
Labels: website

#1110 docs: fix error in render
  content/en/docs/hertz/tutorials/basic-feature/render.md
  content/zh/docs/hertz/tutorials/basic-feature/render.md
Labels: Hertz

#1113 fix(hertz): code style not harmonized
  content/en/blog/news/Mastering_Golang_Microservices_A_Practical_Guide_Embrace_High_Performance_with_Kitex_and_Hertz/index.md
  content/en/blog/releases/Hertz/release-v060.md
  content/en/docs/hertz/tutorials/basic-feature/binding-and-validate.md
  content/en/docs/hertz/tutorials/basic-feature/context/request.md
  content/en/docs/hertz/tutorials/basic-feature/context/response.md
  content/en/docs/hertz/tutorials/basic-feature/engine.md
  content/en/docs/hertz/tutorials/basic-feature/hooks.md
  content/en/docs/hertz/tutorials/basic-feature/middleware/casbin.md
  content/en/docs/hertz/tutorials/basic-feature/middleware/csrf.md
  content/en/docs/hertz/tutorials/basic-feature/middleware/i18n.md
  content/en/docs/hertz/tutorials/basic-feature/middleware/jwt.md
  content/en/docs/hertz/tutorials/basic-feature/middleware/keyauth.md
  content/en/docs/hertz/tutorials/basic-feature/middleware/paseto.md
  content/en/docs/hertz/tutorials/basic-feature/middleware/pprof.md
  content/en/docs/hertz/tutorials/basic-feature/middleware/recovery.md
  content/en/docs/hertz/tutorials/basic-feature/middleware/sentry.md
  content/en/docs/hertz/tutorials/basic-feature/middleware/swagger.md
  content/en/docs/hertz/tutorials/basic-feature/protocol/http2.md
  content/en/docs/hertz/tutorials/basic-feature/protocol/http3.md
  content/en/docs/hertz/tutorials/basic-feature/protocol/tls.md
  content/en/docs/hertz/tutorials/basic-feature/protocol/websocket.md
  content/en/docs/hertz/tutorials/basic-feature/proxy.md
  content/en/docs/hertz/tutorials/basic-feature/render.md
  content/en/docs/hertz/tutorials/basic-feature/route.md
  content/en/docs/hertz/tutorials/observability/log.md
  content/en/docs/hertz/tutorials/observability/monitoring.md
  content/en/docs/hertz/tutorials/service-governance/service_discovery/consul.md
  content/en/docs/hertz/tutorials/service-governance/service_discovery/eureka.md
  content/en/docs/hertz/tutorials/service-governance/service_discovery/nacos.md
  content/en/docs/hertz/tutorials/service-governance/service_discovery/servicecomb.md
  content/en/docs/hertz/tutorials/service-governance/service_discovery/zookeeper.md
  content/zh/docs/hertz/tutorials/basic-feature/context/request.md
  content/zh/docs/hertz/tutorials/basic-feature/context/response.md
  content/zh/docs/hertz/tutorials/basic-feature/engine.md
  content/zh/docs/hertz/tutorials/basic-feature/hooks.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/i18n.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/keyauth.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/paseto.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/pprof.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/swagger.md
  content/zh/docs/hertz/tutorials/basic-feature/proxy.md
  content/zh/docs/hertz/tutorials/observability/log.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery/consul.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery/eureka.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery/nacos.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery/servicecomb.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery/zookeeper.md
Labels: Hertz

#1115 chore: add video link
  config.toml
  content/zh/_index.html
Labels: website

#1114 docs(hertz): function signature error
  content/en/blog/releases/Hertz/release-v080.md
  content/en/docs/hertz/getting-started/_index.md
  content/en/docs/hertz/tutorials/basic-feature/binding-and-validate.md
  content/en/docs/hertz/tutorials/basic-feature/client.md
  content/en/docs/hertz/tutorials/basic-feature/context/request.md
  content/en/docs/hertz/tutorials/basic-feature/context/response.md
  content/en/docs/hertz/tutorials/basic-feature/engine.md
  content/en/docs/hertz/tutorials/basic-feature/middleware/_index.md
  content/en/docs/hertz/tutorials/basic-feature/middleware/csrf.md
  content/en/docs/hertz/tutorials/basic-feature/middleware/paseto.md
  content/en/docs/hertz/tutorials/basic-feature/protocol/websocket.md
  content/en/docs/hertz/tutorials/basic-feature/unit-test.md
  content/en/docs/hertz/tutorials/framework-exten/protocol.md
  content/en/docs/hertz/tutorials/framework-exten/response_writer.md
  content/en/docs/hertz/tutorials/service-governance/sentinel.md
  content/en/docs/hertz/tutorials/service-governance/service_discovery/etcd.md
  content/en/docs/hertz/tutorials/service-governance/service_discovery/redis.md
  content/en/docs/hertz/tutorials/service-migration/_index.md
  content/en/security/safety-bulletin/detail/cloudwego-sa-2022-2/index.md
  content/zh/blog/releases/Hertz/release-v060.md
  content/zh/blog/releases/Hertz/release-v080.md
  content/zh/docs/hertz/getting-started/_index.md
  content/zh/docs/hertz/tutorials/basic-feature/binding-and-validate.md
  content/zh/docs/hertz/tutorials/basic-feature/client.md
  content/zh/docs/hertz/tutorials/basic-feature/context/request.md
  content/zh/docs/hertz/tutorials/basic-feature/context/response.md
  content/zh/docs/hertz/tutorials/basic-feature/engine.md
  content/zh/docs/hertz/tutorials/basic-feature/hooks.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/_index.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/casbin.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/csrf.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/i18n.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/jwt.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/keyauth.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/paseto.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/pprof.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/recovery.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/sentry.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/swagger.md
  content/zh/docs/hertz/tutorials/basic-feature/protocol/http2.md
  content/zh/docs/hertz/tutorials/basic-feature/protocol/http3.md
  content/zh/docs/hertz/tutorials/basic-feature/protocol/tls.md
  content/zh/docs/hertz/tutorials/basic-feature/protocol/websocket.md
  content/zh/docs/hertz/tutorials/basic-feature/render.md
  content/zh/docs/hertz/tutorials/basic-feature/route.md
  content/zh/docs/hertz/tutorials/basic-feature/unit-test.md
  content/zh/docs/hertz/tutorials/framework-exten/protocol.md
  content/zh/docs/hertz/tutorials/framework-exten/response_writer.md
  content/zh/docs/hertz/tutorials/observability/log.md
  content/zh/docs/hertz/tutorials/observability/monitoring.md
  content/zh/docs/hertz/tutorials/service-governance/sentinel.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery/etcd.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery/redis.md
  content/zh/docs/hertz/tutorials/service-migration/_index.md
Labels: Hertz
