Repository cloudwego/cloudwego.github.io, pull requests merged in 2024-01, with the labels that each got.

#915 docs: fix engine.md use function
  content/en/docs/hertz/tutorials/basic-feature/engine.md
  content/zh/docs/hertz/tutorials/basic-feature/engine.md
Labels: Hertz

#916 doc: add release note for volo 0.9.0
  content/en/blog/releases/Volo/release-v090.md
  content/zh/blog/releases/Volo/release-v090.md
Labels: Volo

#911 feat(otel): optimiz the option section in the Hertz OTEL doc
  content/en/docs/hertz/tutorials/observability/open-telemetry.md
  content/zh/docs/hertz/tutorials/observability/open-telemetry.md
Labels: Hertz

#922 New EN Blog Post
  content/en/blog/news/Mastering_Golang_Microservices_A_Practical_Guide_Embrace_High_Performance_with_Kitex_and_Hertz/index.md
  static/img/blog/Mastering_Golang_Microservices_A_Practical_Guide_Embrace_High_Performance_with_Kitex_and_Hertz/1.jpeg
Labels: blog

#925 chore: twitter icon to x
  config.toml
  layouts/partials/footer.html
  static/webfonts/x-twitter.svg
Labels: website

#926 docs: update i18n
  content/en/docs/hertz/tutorials/basic-feature/middleware/i18n.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/i18n.md
Labels: Hertz

#927 feat: add cloudwego usability construction blog
  content/zh/blog/news/CloudWeGo_Usability_Construction/index.md
  static/img/blog/CloudWeGo_Usability_Construction/cwgo.png
  static/img/blog/CloudWeGo_Usability_Construction/hz.png
  static/img/blog/CloudWeGo_Usability_Construction/middleware_1.png
  static/img/blog/CloudWeGo_Usability_Construction/middleware_2.png
  static/img/blog/CloudWeGo_Usability_Construction/multi_protocols.png
  static/img/blog/CloudWeGo_Usability_Construction/response_writer.png
Labels: blog

#928 docs: update server_discovery/nacos
  content/en/docs/hertz/tutorials/service-governance/service_discovery/nacos.md
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/nacos.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery/nacos.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/nacos.md
Labels: Kitex, Hertz

#932 chore: change golang.org to go.dev
  content/en/blog/news/bytedance_gonet_practice/index.md
  content/en/docs/cwgo/getting-started/_index.md
  content/en/docs/hertz/getting-started/_index.md
  content/en/docs/kitex/Getting started/_index.md
  content/zh/blog/news/bytedance_gonet_practice/index.md
  content/zh/docs/cwgo/getting-started/_index.md
  content/zh/docs/hertz/getting-started/_index.md
  content/zh/docs/kitex/Getting started/_index.md
Labels: website

#934 docs: update volo getting started
  content/en/docs/volo/volo-grpc/getting-started/_index.md
  content/en/docs/volo/volo-thrift/getting-started/_index.md
  content/zh/docs/volo/volo-grpc/getting-started/_index.md
  content/zh/docs/volo/volo-thrift/getting-started/_index.md
Labels: Volo

#933 docs: add redis-registry options
  content/en/docs/hertz/tutorials/service-governance/service_discovery/redis.md
  content/zh/docs/hertz/tutorials/service-governance/service_discovery/redis.md
Labels: Hertz

#936 Upload volo blog
  content/en/blog/news/Harnessing_the_Power_of_Rust_for_Cloud_Development_with_Volo  /index.md
  static/img/blog/Harnessing_the_Power_of_Rust_for_Cloud_Development_with_Volo/1.jpeg
Labels: Volo

#943 docs: optimize quick start doc for netpoll
  content/en/docs/netpoll/Getting started/_index.md
  content/zh/docs/netpoll/Getting started/_index.md
Labels: Netpoll

#946 fix: remove the space in volo new blog
  content/en/blog/news/Harnessing_the_Power_of_Rust_for_Cloud_Development_with_Volo/index.md
Labels: blog

#942 New Kitex blog
  content/en/blog/news/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/Enhancing_Performance_in_Microservice_Architecture_with_Kitex.md
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/1.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/10.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/11.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/12.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/13.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/14.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/15.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/16.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/17.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/18.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/19.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/2.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/20.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/21.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/22.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/23.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/24.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/25.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/26.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/27.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/28.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/29.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/3.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/30.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/31.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/4.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/5.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/6.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/7.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/8.jpeg
  static/img/blog/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/9.jpeg
Labels: blog

#944 docs: update the xds documents
  content/en/docs/kitex/Tutorials/advanced-feature/xds.md
  content/zh/docs/kitex/Tutorials/advanced-feature/xds.md
Labels: Kitex
