Repository cloudwego/cloudwego.github.io, pull requests merged in 2024-03, with the labels that each got.

#983 docs(volo): add keywords and description
  content/en/docs/volo/faq/_index.md
  content/en/docs/volo/guide/_index.md
  content/en/docs/volo/motore/_index.md
  content/en/docs/volo/pilota/_index.md
  content/zh/docs/volo/faq/_index.md
  content/zh/docs/volo/guide/_index.md
  content/zh/docs/volo/motore/_index.md
  content/zh/docs/volo/pilota/_index.md
Labels: Volo

#987 fix: Add "k-consts.go" item in the layout of generated code in docs/kitex
  content/en/docs/kitex/Tutorials/basic-feature/message_type.md
  content/zh/docs/kitex/Tutorials/basic-feature/message_type.md
Labels: Kitex

#986 Update tutorial.md ,fixed an inconsistency
  content/en/docs/kitex/Getting started/tutorial.md
Labels: Kitex

#984 docs: fix table in cwgo doc
  content/en/docs/cwgo/tutorials/doc/usage_rule.md
  content/zh/docs/cwgo/tutorials/doc/usage_rule.md
Labels: Cwgo

#990 chore: add zhipu logo to CloudWeGo users
  assets/scss/home.scss
  content/zh/_index.html
  static/img/usedby/zhipu.png
Labels: website

#988 chore(doc): update description for kitex practice
  content/zh/docs/kitex/Best Practice/Integration Testing/_index.md
  content/zh/docs/kitex/Best Practice/Integration Testing/debug_efficiently.md
  content/zh/docs/kitex/Best Practice/Integration Testing/mock_client.md
  content/zh/docs/kitex/Best Practice/_index.md
  content/zh/docs/kitex/Best Practice/error_handle.md
  content/zh/docs/kitex/Best Practice/graceful_shutdown.md
  content/zh/docs/kitex/Best Practice/usage_attention.md
Labels: Kitex

#991 docs: add cwgo fallback document
  content/en/docs/cwgo/tutorials/fallback/_index.md
  content/zh/docs/cwgo/tutorials/fallback/_index.md
Labels: Cwgo

#994 docs: add implemented extension doc
  content/en/docs/kitex/Tutorials/framework-exten/_index.md
  content/en/docs/kitex/Tutorials/framework-exten/codec.md
  content/en/docs/kitex/Tutorials/framework-exten/diagnosis.md
  content/en/docs/kitex/Tutorials/framework-exten/implemented_extension.md
  content/en/docs/kitex/Tutorials/framework-exten/middleware.md
  content/en/docs/kitex/Tutorials/framework-exten/trans_pipeline.md
  content/en/docs/kitex/Tutorials/framework-exten/transport.md
  content/zh/docs/kitex/Tutorials/framework-exten/_index.md
  content/zh/docs/kitex/Tutorials/framework-exten/codec.md
  content/zh/docs/kitex/Tutorials/framework-exten/diagnosis.md
  content/zh/docs/kitex/Tutorials/framework-exten/implemented_extension.md
  content/zh/docs/kitex/Tutorials/framework-exten/middleware.md
  content/zh/docs/kitex/Tutorials/framework-exten/trans_pipeline.md
  content/zh/docs/kitex/Tutorials/framework-exten/transport.md
Labels: Kitex

#1001 Fixed the issue that version 0.123 of hugo would report an error when running this website
  content/en/docs/hertz/tutorials/basic-feature/context/response.md
  content/zh/blog/news/CloudWeGo_Usability_Construction/index.md
  content/zh/docs/hertz/tutorials/basic-feature/context/response.md
Labels: Hertz

#1002 chore(volo): no longer emphasize the nightly version
  content/en/blog/news/Harnessing_the_Power_of_Rust_for_Cloud_Development_with_Volo/index.md
  content/zh/docs/volo/volo-thrift/getting-started/_index.md
Labels: Volo

#1003 chore: fix typo in kitex best practice
  content/en/docs/kitex/Best Practice/Integration Testing/_index.md
  content/en/docs/kitex/Best Practice/_index.md
  content/en/docs/kitex/Best Practice/error_handle.md
  content/en/docs/kitex/Best Practice/graceful_shutdown.md
  content/en/docs/kitex/Best Practice/usage_attention.md
Labels: Kitex

#1004 docs: update the multi-service doc
  content/en/docs/kitex/Tutorials/advanced-feature/multi_service.md
Labels: Kitex

#1005 chore: fix hertz architecture typo
  content/en/docs/hertz/overview/_index.md
  content/zh/docs/hertz/overview/_index.md
  static/img/docs/hertz.png
Labels: Hertz

#1007 doc: thrift streaming (cn)
  content/zh/docs/kitex/Tutorials/basic-feature/protocol/transport-streaming/_index.md
  content/zh/docs/kitex/Tutorials/basic-feature/protocol/transport-streaming/thrift_streaming.md
  static/img/docs/streaming/kitex_client_execution_flow.png
  static/img/docs/streaming/kitex_server_execution_flow_bidirectional.png
  static/img/docs/streaming/kitex_server_execution_flow_client.png
  static/img/docs/streaming/kitex_server_execution_flow_server.png
Labels: Kitex

#1010 docs: add FAQ for kitex multi-service
  content/en/docs/kitex/Tutorials/advanced-feature/multi_service.md
Labels: Kitex

#1016 docs: add FAQ for kitex multi-service(zh)
  content/zh/docs/kitex/Tutorials/advanced-feature/multi_service.md
Labels: Kitex

#1017 docs: publish the translation of Thrift Streaming
  content/en/docs/kitex/Tutorials/basic-feature/protocol/transport-streaming/_index.md
  content/en/docs/kitex/Tutorials/basic-feature/protocol/transport-streaming/thrift_streaming.md
  content/zh/docs/kitex/Tutorials/basic-feature/protocol/transport-streaming/thrift_streaming.md
  static/img/docs/streaming/kitex_recvsend_middleware.png
Labels: Kitex

#1018 docs: update combine_service doc to notify users it is deprecated
  content/en/docs/kitex/Tutorials/code-gen/combine_service.md
  content/zh/docs/kitex/Tutorials/code-gen/combine_service.md
Labels: Kitex

#1020 doc(kitex): add v0.9.0 version introduction
  content/en/blog/releases/Kitex/release-v090.md
  content/zh/blog/releases/Kitex/release-v090.md
Labels: Kitex, blog

#1023 docs: fix wrong word
  content/zh/docs/kitex/Tutorials/framework-exten/implemented_extension.md
Labels: Kitex

#993 docs: add config-consul doc
  content/en/docs/kitex/Tutorials/service-governance/config-center/_index.md
  content/en/docs/kitex/Tutorials/service-governance/config-center/apollo.md
  content/en/docs/kitex/Tutorials/service-governance/config-center/consul.md
  content/en/docs/kitex/Tutorials/service-governance/config-center/etcd.md
  content/en/docs/kitex/Tutorials/service-governance/config-center/file.md
  content/en/docs/kitex/Tutorials/service-governance/config-center/nacos.md
  content/en/docs/kitex/Tutorials/service-governance/config-center/zookeeper.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/_index.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/apollo.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/consul.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/etcd.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/file.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/nacos.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/zookeeper.md
Labels: Kitex

#1028 fix: fix hertz swagger link
  content/en/docs/hertz/tutorials/example/_index.md
  content/zh/docs/hertz/tutorials/example/_index.md
Labels: Hertz

#1033 docs: fix package referencing errors in Kitex's Advanced Tutorial
  content/en/docs/kitex/Getting started/tutorial.md
  content/zh/docs/kitex/Getting started/tutorial.md
Labels: Kitex

#1034 docs(lb): Add description of Alias Method
  content/en/docs/kitex/Tutorials/service-governance/loadbalance.md
  content/zh/docs/kitex/Tutorials/service-governance/loadbalance.md
Labels: Kitex

#1039 blog: add Kitex Dubbo interoperate
  content/zh/blog/news/Kitex_Dubbo_interoperate/index.md
  static/img/blog/Kitex_Dubbo_interoperate/kitex_dubbo_interoperate.png
  static/img/blog/Kitex_Dubbo_interoperate/types_convert_process.png
  static/img/blog/Kitex_Dubbo_interoperate/types_convert_process_with_thrift.png
Labels: blog

#1041 docs: add cwgo server hex in overview
  content/en/docs/cwgo/overview/_index.md
  content/zh/docs/cwgo/overview/_index.md
Labels: Cwgo

#1040 docs: fix some problems in docs/kitex/Tutorials/basic-feature/message_type
  content/en/docs/kitex/Tutorials/basic-feature/message_type.md
  content/zh/docs/kitex/Tutorials/basic-feature/message_type.md
Labels: Kitex

#1043 docs: fix a problem of transport protocol doc(kitex)
  content/en/docs/kitex/Tutorials/basic-feature/protocol/transport_protocol.md
  content/zh/docs/kitex/Tutorials/basic-feature/protocol/transport_protocol.md
Labels: Kitex

#1044 chore: slack to discord
  config.toml
  content/en/_index.html
  content/en/blog/news/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/Enhancing_Performance_in_Microservice_Architecture_with_Kitex.md
  content/en/blog/news/Hertz_Open_Source/index.md
  content/en/blog/news/Introducing CloudWeGo/index.md
  content/en/community/_index.md
  content/zh/_index.html
  content/zh/community/overview/_index.html
  static/img/community/discord.png
Labels: website

#1045 chore: small update on about、community and cooperation
  content/en/about/_index.html
  content/en/community/_index.md
  content/zh/about/_index.html
  content/zh/community/overview/_index.html
  content/zh/cooperation/feishu.md
  content/zh/cooperation/huaxingsec.md
  content/zh/cooperation/interface_testing.md
  content/zh/cooperation/semir.md
  content/zh/cooperation/shumei.md
  content/zh/cooperation/tanwan.md
Labels: website

#1038 docs: fix the code of kitex tutorials
  content/en/docs/kitex/Getting started/tutorial.md
  content/zh/docs/kitex/Getting started/tutorial.md
Labels: Kitex

#995 docs: optimize hertz vd tag description
  content/en/docs/hertz/tutorials/basic-feature/binding-and-validate.md
  content/zh/docs/hertz/tutorials/basic-feature/binding-and-validate.md
Labels: Hertz

#1048 chore: use permanent link for discord
  config.toml
  content/en/_index.html
  content/en/blog/news/Enhancing_Performance_in_Microservice_Architecture_with_Kitex/Enhancing_Performance_in_Microservice_Architecture_with_Kitex.md
  content/en/blog/news/Hertz_Open_Source/index.md
  content/en/blog/news/Introducing CloudWeGo/index.md
  content/en/community/_index.md
  content/zh/_index.html
  content/zh/community/overview/_index.html
Labels: website

#1050 fix(doc): repeated kitex examples
  content/zh/docs/kitex/Getting started/examples.md
Labels: Kitex
