Repository cloudwego/cloudwego.github.io, pull requests merged in 2024-05, with the labels that each got.

#1066 docs: fix docker example in quick_start.md
  content/en/docs/kitex/Getting started/quick_start.md
  content/zh/docs/kitex/Getting started/quick_start.md
Labels: Kitex

#1068 docs(Cwgo):update db tutorials version
  content/en/docs/cwgo/tutorials/db/_index.md
  content/zh/docs/cwgo/tutorials/db/_index.md
Labels: Cwgo

#1060 docs: add FAQ and best practice docs
  content/en/docs/kitex/Best Practice/self_check/_index.md
  content/en/docs/kitex/Best Practice/self_check/fast_write_read_panic.md
  content/en/docs/kitex/Best Practice/self_check/mem_leak_self_check.md
  content/en/docs/kitex/Best Practice/self_check/panic_self_check.md
  content/en/docs/kitex/FAQ/_index.md
  content/en/docs/kitex/Tutorials/code-gen/custom_struct_tags.md
  content/zh/docs/kitex/Best Practice/self_check/_index.md
  content/zh/docs/kitex/Best Practice/self_check/fast_write_read_panic.md
  content/zh/docs/kitex/Best Practice/self_check/mem_leak_self_check.md
  content/zh/docs/kitex/Best Practice/self_check/panic_self_check.md
  content/zh/docs/kitex/FAQ/_index.md
  content/zh/docs/kitex/Tutorials/code-gen/custom_struct_tags.md
  static/img/blog/Kitex_self_check/alloc_objects.png
  static/img/blog/Kitex_self_check/alloc_space.png
  static/img/blog/Kitex_self_check/big_req.png
  static/img/blog/Kitex_self_check/cache_sonic_obj.png
  static/img/blog/Kitex_self_check/client_field_leak.png
  static/img/blog/Kitex_self_check/echo_server.png
  static/img/blog/Kitex_self_check/echo_server_2.png
  static/img/blog/Kitex_self_check/error_is_as.png
  static/img/blog/Kitex_self_check/inuse_space.png
  static/img/blog/Kitex_self_check/io_err_handler.png
  static/img/blog/Kitex_self_check/many_cli.png
  static/img/blog/Kitex_self_check/panic_stack.png
  static/img/blog/Kitex_self_check/server_field_leak.png
  static/img/blog/Kitex_self_check/server_req_leak.png
  static/img/blog/Kitex_self_check/server_resp_leak.png
  static/img/blog/Kitex_self_check/server_resp_leak2.png
Labels: Kitex

#1073 docs: fix img path
  content/en/docs/kitex/Best Practice/self_check/panic_self_check.md
  content/zh/docs/kitex/Best Practice/self_check/panic_self_check.md
Labels: Kitex

#1075 chore: add 5.25 Shanghai meetup to zh homepage
  assets/scss/_styles_project.scss
  layouts/partials/banner.md
  static/img/home/activity/2024-05-25.jpeg
Labels: website

#1080 fix: kitex url path cli-tool -> tool
  content/en/docs/kitex/Tutorials/tool/_index.md
  content/en/docs/kitex/Tutorials/tool/kitexcall.md
  content/zh/docs/kitex/Tutorials/tool/_index.md
  content/zh/docs/kitex/Tutorials/tool/kitexcall.md
Labels: Kitex

#1077 feat: add receive all the metainfo api
  content/en/docs/kitex/Tutorials/advanced-feature/metainfo.md
  content/zh/docs/kitex/Tutorials/advanced-feature/metainfo.md
Labels: Kitex

#1081 chore: remove meetup on zh homepage
  assets/scss/_styles_project.scss
  layouts/partials/banner.md
  static/img/home/activity/2024-05-25.jpeg
Labels: website

#1061 Allow custom registry to get the actual address for registering
  content/en/docs/kitex/Tutorials/framework-exten/registry.md
  content/zh/docs/kitex/Tutorials/advanced-feature/generic-call/generic-call-dynamicgo.md
  content/zh/docs/kitex/Tutorials/framework-exten/registry.md
Labels: Kitex
