Repository cloudwego/cloudwego.github.io, pull requests merged in 2024-02, with the labels that each got.

#939 docs(hz): update generate client code logic
  content/en/docs/hertz/tutorials/toolkit/more-feature/client.md
  content/zh/docs/hertz/tutorials/toolkit/more-feature/client.md
Labels: Hertz

#930 docs: fix the middleware doc
  content/en/docs/kitex/Tutorials/framework-exten/middleware.md
  content/zh/docs/kitex/Tutorials/framework-exten/middleware.md
Labels: Kitex

#948 chore: update data for about page
  content/en/about/_index.html
  content/zh/about/_index.html
Labels: website

#949 doc: fix kitex dependency description
  content/zh/docs/kitex/Tutorials/code-gen/code_generation.md
Labels: Kitex

#950 doc: fix kitex dependency description (en)
  content/en/docs/kitex/Tutorials/code-gen/code_generation.md
Labels: Kitex

#954 docs: optimize adaptor.md
  content/en/docs/hertz/tutorials/basic-feature/adaptor.md
  content/zh/docs/hertz/tutorials/basic-feature/adaptor.md
Labels: Hertz

#941 docs: optimize generic call doc
  content/en/docs/kitex/Tutorials/advanced-feature/generic-call/_index.md
  content/en/docs/kitex/Tutorials/advanced-feature/generic-call/basic_usage.md
  content/zh/docs/kitex/Tutorials/advanced-feature/generic-call/_index.md
  content/zh/docs/kitex/Tutorials/advanced-feature/generic-call/basic_usage.md
Labels: Kitex

#952 docs: add resolver-rule-based doc
  content/en/docs/kitex/Tutorials/service-governance/config-center/apollo.md
  content/en/docs/kitex/Tutorials/service-governance/config-center/etcd.md
  content/en/docs/kitex/Tutorials/service-governance/config-center/file.md
  content/en/docs/kitex/Tutorials/service-governance/config-center/nacos.md
  content/en/docs/kitex/Tutorials/service-governance/config-center/zookeeper.md
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/consul.md
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/etcd.md
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/eureka.md
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/nacos.md
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/polaris.md
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/rule-based.md
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/service-comb.md
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/zookeeper.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/apollo.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/etcd.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/file.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/nacos.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/zookeeper.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/consul.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/etcd.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/eureka.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/nacos.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/polaris.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/rule-based.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/service-comb.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/zookeeper.md
Labels: Kitex

#919 docs: supplementary observability related documentation
  content/en/docs/kitex/Tutorials/framework-exten/monitoring.md
  content/en/docs/kitex/Tutorials/observability/logging.md
  content/en/docs/kitex/Tutorials/observability/monitoring.md
  content/en/docs/kitex/Tutorials/observability/tracing.md
  content/zh/docs/kitex/Tutorials/framework-exten/monitoring.md
  content/zh/docs/kitex/Tutorials/observability/logging.md
  content/zh/docs/kitex/Tutorials/observability/monitoring.md
  content/zh/docs/kitex/Tutorials/observability/tracing.md
Labels: Kitex

#956 docs: add docs for hertz obs tracing WithShouldIgnore option
  content/en/docs/hertz/tutorials/observability/open-telemetry.md
  content/zh/docs/hertz/tutorials/observability/open-telemetry.md
Labels: Hertz

#918 docs: optimize protocol module documentation
  content/en/docs/kitex/Tutorials/basic-feature/acquire_rpcinfo.md
  content/en/docs/kitex/Tutorials/basic-feature/bizstatuserr.md
  content/en/docs/kitex/Tutorials/basic-feature/connection_type.md
  content/en/docs/kitex/Tutorials/basic-feature/panic.md
  content/en/docs/kitex/Tutorials/basic-feature/protocol/_index.md
  content/en/docs/kitex/Tutorials/basic-feature/protocol/serialization-protocol/_index.md
  content/en/docs/kitex/Tutorials/basic-feature/protocol/serialization-protocol/binary.md
  content/en/docs/kitex/Tutorials/basic-feature/protocol/serialization-protocol/hessian2.md
  content/en/docs/kitex/Tutorials/basic-feature/protocol/serialization-protocol/protobuf.md
  content/en/docs/kitex/Tutorials/basic-feature/protocol/transport_protocol.md
  content/en/docs/kitex/Tutorials/basic-feature/serialization_protocol.md
  content/en/docs/kitex/Tutorials/basic-feature/visit_directly.md
  content/en/docs/kitex/Tutorials/basic-feature/warming_up.md
  content/zh/docs/kitex/Tutorials/basic-feature/acquire_rpcinfo.md
  content/zh/docs/kitex/Tutorials/basic-feature/bizstatuserr.md
  content/zh/docs/kitex/Tutorials/basic-feature/connection_type.md
  content/zh/docs/kitex/Tutorials/basic-feature/panic.md
  content/zh/docs/kitex/Tutorials/basic-feature/protocol/_index.md
  content/zh/docs/kitex/Tutorials/basic-feature/protocol/serialization-protocol/_index.md
  content/zh/docs/kitex/Tutorials/basic-feature/protocol/serialization-protocol/binary.md
  content/zh/docs/kitex/Tutorials/basic-feature/protocol/serialization-protocol/hessian2.md
  content/zh/docs/kitex/Tutorials/basic-feature/protocol/serialization-protocol/protobuf.md
  content/zh/docs/kitex/Tutorials/basic-feature/protocol/transport_protocol.md
  content/zh/docs/kitex/Tutorials/basic-feature/serialization_protocol.md
  content/zh/docs/kitex/Tutorials/basic-feature/visit_directly.md
  content/zh/docs/kitex/Tutorials/basic-feature/warming_up.md
Labels: Kitex

#958 docs: fix cwgo client title indent: h2 -> h3
  content/zh/docs/cwgo/tutorials/client/_index.md
Labels: Cwgo

#961 New blog on Kitex
  content/en/blog/news/Delving_Deeper_Enriching_Microservices_with_Golang_and_Rust_with_CloudWeGo/index.md
  static/img/blog/Delving_Deeper_Enriching_Microservices_with_Golang_and_Rust_with_CloudWeGo/1.jpeg
  static/img/blog/Delving_Deeper_Enriching_Microservices_with_Golang_and_Rust_with_CloudWeGo/2.jpeg
  static/img/blog/Delving_Deeper_Enriching_Microservices_with_Golang_and_Rust_with_CloudWeGo/3.jpeg
  static/img/blog/Delving_Deeper_Enriching_Microservices_with_Golang_and_Rust_with_CloudWeGo/4.jpeg
  static/img/blog/Delving_Deeper_Enriching_Microservices_with_Golang_and_Rust_with_CloudWeGo/5.jpeg
Labels: blog

#963 docs(hertz): add release note of v0.8.0
  content/en/blog/releases/Hertz/release-v080.md
  content/zh/blog/releases/Hertz/release-v080.md
Labels: Hertz, blog

#957 docs: add best practice
  content/en/docs/kitex/Best Practice/Integration Testing/_index.md
  content/en/docs/kitex/Best Practice/Integration Testing/debug_efficiently.md
  content/en/docs/kitex/Best Practice/Integration Testing/mock_client.md
  content/en/docs/kitex/Best Practice/_index.md
  content/en/docs/kitex/Best Practice/error_handle.md
  content/en/docs/kitex/Best Practice/graceful_shutdown.md
  content/en/docs/kitex/Best Practice/usage_attention.md
  content/zh/docs/kitex/Best Practice/Integration Testing/_index.md
  content/zh/docs/kitex/Best Practice/Integration Testing/debug_efficiently.md
  content/zh/docs/kitex/Best Practice/Integration Testing/mock_client.md
  content/zh/docs/kitex/Best Practice/_index.md
  content/zh/docs/kitex/Best Practice/error_handle.md
  content/zh/docs/kitex/Best Practice/graceful_shutdown.md
  content/zh/docs/kitex/Best Practice/usage_attention.md
  static/img/docs/debug_efficiently/1.png
  static/img/docs/debug_efficiently/2.png
Labels: Kitex

#937 docs: optimize quick start doc
  content/en/docs/kitex/Getting started/_index.md
  content/en/docs/kitex/Getting started/examples.md
  content/en/docs/kitex/Getting started/pre-knowledge.md
  content/en/docs/kitex/Getting started/prerequisite.md
  content/en/docs/kitex/Getting started/quick_start.md
  content/en/docs/kitex/Getting started/tutorial.md
  content/zh/docs/kitex/Getting started/_index.md
  content/zh/docs/kitex/Getting started/examples.md
  content/zh/docs/kitex/Getting started/pre-knowledge.md
  content/zh/docs/kitex/Getting started/prerequisite.md
  content/zh/docs/kitex/Getting started/quick_start.md
  content/zh/docs/kitex/Getting started/tutorial.md
Labels: Kitex

#965 docs: optimize format and fix the golang version
  content/en/docs/kitex/Getting started/examples.md
  content/en/docs/kitex/Getting started/prerequisite.md
  content/zh/docs/kitex/Getting started/examples.md
  content/zh/docs/kitex/Getting started/prerequisite.md
Labels: Kitex

#970 docs: fix the link
  content/en/docs/kitex/Getting started/examples.md
  content/zh/docs/kitex/Getting started/examples.md
Labels: Kitex

#969 docs: add etcd instance information doc
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/etcd.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/etcd.md
Labels: Kitex

#972 chore(docs): optimize kitex best practice
  content/en/docs/kitex/Best Practice/error_handle.md
  content/en/docs/kitex/Best Practice/graceful_shutdown.md
  content/zh/docs/kitex/Best Practice/error_handle.md
  content/zh/docs/kitex/Best Practice/graceful_shutdown.md
Labels: Kitex

#974 chore: fix link error
  content/en/docs/kitex/Tutorials/advanced-feature/generic-call/generic-call-dynamicgo.md
  content/en/docs/kitex/Tutorials/basic-feature/protocol/transport_protocol.md
  content/en/docs/kitex/Tutorials/observability/tracing.md
  content/zh/docs/kitex/Tutorials/basic-feature/protocol/transport_protocol.md
  content/zh/docs/kitex/Tutorials/observability/tracing.md
Labels: Kitex

#980 chore(docs): merge motore and pilota into volo
  content/en/_index.html
  content/en/docs/motore/_index.md
  content/en/docs/pilota/_index.md
  content/en/docs/pilota/guide/_index.md
  content/en/docs/pilota/guide/annotation.md
  content/en/docs/pilota/guide/plugin.md
  content/en/docs/volo/faq/_index.md
  content/en/docs/volo/motore/_index.md
  content/en/docs/volo/pilota/_index.md
  content/zh/_index.html
  content/zh/docs/motore/_index.md
  content/zh/docs/motore/faq/_index.md
  content/zh/docs/motore/faq/q1_pull_ready.md
  content/zh/docs/pilota/_index.md
  content/zh/docs/pilota/guide/_index.md
  content/zh/docs/pilota/guide/annotation.md
  content/zh/docs/pilota/guide/plugin.md
  content/zh/docs/volo/faq/_index.md
  content/zh/docs/volo/motore/_index.md
  content/zh/docs/volo/pilota/_index.md
Labels: Volo

#964 docs: optimize cwgo overview and getting-started
  content/en/docs/cwgo/getting-started/_index.md
  content/en/docs/cwgo/overview/_index.md
  content/zh/docs/cwgo/_index.md
  content/zh/docs/cwgo/getting-started/_index.md
  content/zh/docs/cwgo/overview/_index.md
Labels: Cwgo

#966 docs: optimize cwgo server and client document
  content/en/docs/cwgo/tutorials/client/_index.md
  content/en/docs/cwgo/tutorials/client/command.md
  content/en/docs/cwgo/tutorials/client/example_pb.md
  content/en/docs/cwgo/tutorials/client/example_thrift.md
  content/en/docs/cwgo/tutorials/db/_index.md
  content/en/docs/cwgo/tutorials/server/_index.md
  content/en/docs/cwgo/tutorials/server/command.md
  content/en/docs/cwgo/tutorials/server/example_pb.md
  content/en/docs/cwgo/tutorials/server/example_thrift.md
  content/zh/docs/cwgo/tutorials/client/_index.md
  content/zh/docs/cwgo/tutorials/client/command.md
  content/zh/docs/cwgo/tutorials/client/example_pb.md
  content/zh/docs/cwgo/tutorials/client/example_thrift.md
  content/zh/docs/cwgo/tutorials/db/_index.md
  content/zh/docs/cwgo/tutorials/server/_index.md
  content/zh/docs/cwgo/tutorials/server/command.md
  content/zh/docs/cwgo/tutorials/server/example_pb.md
  content/zh/docs/cwgo/tutorials/server/example_thrift.md
Labels: Cwgo

#967 docs: optimize cwgo layout and custom template document
  content/en/docs/cwgo/tutorials/layout/_index.md
  content/en/docs/cwgo/tutorials/templete-extension/_index.md
  content/zh/docs/cwgo/tutorials/layout/_index.md
  content/zh/docs/cwgo/tutorials/templete-extension/_index.md
Labels: Cwgo

#981 docs: add auto-completion document
  content/en/docs/cwgo/tutorials/auto-completion/_index.md
  content/zh/docs/cwgo/tutorials/auto-completion/_index.md
Labels: Cwgo

#982 doc: optimize cli document
  content/en/docs/cwgo/tutorials/cli/_index.md
  content/zh/docs/cwgo/tutorials/cli/_index.md
Labels: Cwgo

#955 docs: add doc for command cwgo-doc
  content/en/docs/cwgo/tutorials/doc/_index.md
  content/en/docs/cwgo/tutorials/doc/commands.md
  content/en/docs/cwgo/tutorials/doc/example_pb.md
  content/en/docs/cwgo/tutorials/doc/example_thrift.md
  content/en/docs/cwgo/tutorials/doc/layout.md
  content/en/docs/cwgo/tutorials/doc/usage_rule.md
  content/zh/docs/cwgo/tutorials/doc/_index.md
  content/zh/docs/cwgo/tutorials/doc/commands.md
  content/zh/docs/cwgo/tutorials/doc/example_pb.md
  content/zh/docs/cwgo/tutorials/doc/example_thrift.md
  content/zh/docs/cwgo/tutorials/doc/layout.md
  content/zh/docs/cwgo/tutorials/doc/usage_rule.md
  static/img/docs/cwgo_doc_generate_file.png
Labels: Cwgo
