Repository cloudwego/cloudwego.github.io, pull requests merged in 2024-06, with the labels that each got.

#1082 fix:change the parameter service to server_name
  content/en/docs/cwgo/getting-started/_index.md
  content/en/docs/cwgo/tutorials/client/command.md
  content/en/docs/cwgo/tutorials/client/example_pb.md
  content/en/docs/cwgo/tutorials/client/example_thrift.md
  content/en/docs/cwgo/tutorials/server/command.md
  content/en/docs/cwgo/tutorials/server/example_pb.md
  content/en/docs/cwgo/tutorials/server/example_thrift.md
  content/zh/docs/cwgo/getting-started/_index.md
  content/zh/docs/cwgo/tutorials/client/command.md
  content/zh/docs/cwgo/tutorials/client/example_pb.md
  content/zh/docs/cwgo/tutorials/client/example_thrift.md
  content/zh/docs/cwgo/tutorials/server/command.md
  content/zh/docs/cwgo/tutorials/server/example_pb.md
  content/zh/docs/cwgo/tutorials/server/example_thrift.md
Labels: Cwgo

#1084 docs: add docs for degradation in kitex config-etcd
  content/en/docs/kitex/Tutorials/service-governance/config-center/etcd.md
  content/zh/docs/kitex/Tutorials/service-governance/config-center/etcd.md
Labels: Kitex

#1092 add new blog
  content/zh/blog/news/Kitex_kitexcall_practices/index.md
Labels: blog

#1089 doc: create release-v0_10_0.md
  content/en/blog/releases/Kitex/release-v0_10_0.md
  content/zh/blog/releases/Kitex/release-v0_10_0.md
Labels: Kitex, blog

#1097 docs: add note info for Acquire Kitex RPC Info
  content/en/docs/kitex/Tutorials/basic-feature/acquire_rpcinfo.md
  content/zh/docs/hertz/tutorials/basic-feature/binding-and-validate.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/paseto.md
  content/zh/docs/kitex/Tutorials/basic-feature/acquire_rpcinfo.md
Labels: Kitex

#1096 fix: correct the file path
  content/en/blog/releases/Kitex/release-v0_10_0.md
  content/zh/blog/releases/Kitex/release-v0_10_0.md
Labels: Kitex

#1098 doc: add construct use case
  content/zh/cooperation/_index.md
  content/zh/cooperation/construct.md
  static/img/usedby/construct.png
  static/img/users/construct/construct_16.png
  static/img/users/construct/construct_18.png
  static/img/users/construct/construct_20.png
  static/img/users/construct/construct_21.png
  static/img/users/construct/construct_28.png
  static/img/users/construct/construct_30.png
  static/img/users/construct/construct_34.png
  static/img/users/construct/construct_5.png
  static/img/users/construct/construct_6.png
  static/img/users/construct/construct_8.png
Labels: blog

#1100 chore: remove logo scroll
  assets/scss/home.scss
  content/en/_index.html
  content/zh/_index.html
Labels: website

#1101 docs/add config etcd prefix
  content/en/docs/kitex/Tutorials/service-governance/service_discovery/etcd.md
  content/zh/docs/kitex/Tutorials/service-governance/service_discovery/etcd.md
Labels: Kitex
