Repository cloudwego/cloudwego.github.io, pull requests merged in 2024-09, with the labels that each got.

#1126 doc(xds): add xds feature document
  content/en/docs/kitex/Tutorials/advanced-feature/xds.md
  content/zh/docs/kitex/Tutorials/advanced-feature/xds.md
Labels: Kitex

#1125 docs: add docs for volo-http and refactor volo directories
  content/en/docs/volo/cli/_index.md
  content/en/docs/volo/cli/getting-started/_index.md
  content/en/docs/volo/cli/migrate/_index.md
  content/en/docs/volo/faq/_index.md
  content/en/docs/volo/guide/_index.md
  content/en/docs/volo/motore/_index.md
  content/en/docs/volo/overview/_index.md
  content/en/docs/volo/pilota/_index.md
  content/en/docs/volo/volo-grpc/_index.md
  content/en/docs/volo/volo-grpc/getting-started/_index.md
  content/en/docs/volo/volo-http/_index.md
  content/en/docs/volo/volo-http/getting-started/_index.md
  content/en/docs/volo/volo-http/overview/_index.md
  content/en/docs/volo/volo-http/tutorials/_index.md
  content/en/docs/volo/volo-http/tutorials/middleware.md
  content/en/docs/volo/volo-http/tutorials/request.md
  content/en/docs/volo/volo-http/tutorials/response.md
  content/en/docs/volo/volo-http/tutorials/route.md
  content/en/docs/volo/volo-http/tutorials/static-fs.md
  content/en/docs/volo/volo-http/tutorials/websocket.md
  content/en/docs/volo/volo-thrift/_index.md
  content/en/docs/volo/volo-thrift/getting-started/_index.md
  content/zh/docs/volo/cli/_index.md
  content/zh/docs/volo/cli/getting-started/_index.md
  content/zh/docs/volo/cli/migrate/_index.md
  content/zh/docs/volo/faq/_index.md
  content/zh/docs/volo/guide/_index.md
  content/zh/docs/volo/motore/_index.md
  content/zh/docs/volo/pilota/_index.md
  content/zh/docs/volo/volo-grpc/_index.md
  content/zh/docs/volo/volo-grpc/getting-started/_index.md
  content/zh/docs/volo/volo-http/_index.md
  content/zh/docs/volo/volo-http/getting-started/_index.md
  content/zh/docs/volo/volo-http/overview/_index.md
  content/zh/docs/volo/volo-http/tutorials/_index.md
  content/zh/docs/volo/volo-http/tutorials/middleware.md
  content/zh/docs/volo/volo-http/tutorials/request.md
  content/zh/docs/volo/volo-http/tutorials/response.md
  content/zh/docs/volo/volo-http/tutorials/route.md
  content/zh/docs/volo/volo-http/tutorials/static-fs.md
  content/zh/docs/volo/volo-http/tutorials/websocket.md
  content/zh/docs/volo/volo-thrift/_index.md
  content/zh/docs/volo/volo-thrift/getting-started/_index.md
Labels: Volo

#1133 docs(kitex): retry doc for kitex
  content/en/docs/kitex/Tutorials/service-governance/retry.md
  content/zh/docs/kitex/Tutorials/basic-feature/message_type.md
  content/zh/docs/kitex/Tutorials/service-governance/retry.md
Labels: Kitex

#1134 chore: add 9.21 beijing meetup to zh homepage
  assets/scss/_styles_project.scss
  layouts/partials/banner.md
  static/img/home/activity/2024-09-21.jpeg
Labels: website

#1136 doc: sync generating multiple handlers for multiple services
  content/en/docs/kitex/Tutorials/advanced-feature/multi_service/multi_handler.md
  content/zh/docs/kitex/Tutorials/advanced-feature/multi_service/multi_handler.md
Labels: Kitex

#1138 Update typo in hertz docs
  content/en/docs/hertz/tutorials/basic-feature/middleware/cache.md
  content/en/docs/hertz/tutorials/basic-feature/middleware/i18n.md
  content/en/docs/hertz/tutorials/basic-feature/middleware/recovery.md
  content/en/docs/hertz/tutorials/observability/log.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/cache.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/i18n.md
  content/zh/docs/hertz/tutorials/basic-feature/middleware/recovery.md
  content/zh/docs/hertz/tutorials/basic-feature/proxy.md
  content/zh/docs/hertz/tutorials/framework-exten/protocol.md
  content/zh/docs/hertz/tutorials/observability/log.md
Labels: Hertz

#1152 Revert "chore: add 9.21 beijing meetup to zh homepage"
  assets/scss/_styles_project.scss
  layouts/partials/banner.md
  static/img/home/activity/2024-09-21.jpeg
Labels: website

#1150 doc: optmize release log for kitex v0.11.0
  content/en/blog/releases/Kitex/release-v0_11_0.md
  content/zh/blog/releases/Kitex/release-v0_11_0.md
Labels: Kitex, blog
