Repository cloudwego/cloudwego.github.io, pull requests merged in 2024-04, with the labels that each got.

#1052 chore: remove beijing meetup on zh homepage
  assets/scss/_styles_project.scss
  layouts/partials/banner.md
  static/img/home/activity/2024-03-30.jpeg
Labels: website

#1053 docs: add volo config guide
  content/en/docs/volo/guide/config.md
  content/zh/docs/volo/guide/config.md
Labels: documentation, Volo

#1056 change "echo.NewServer(handler{})" to "echoservice.NewServer(new(handler))" in message_type
  content/en/docs/kitex/Tutorials/basic-feature/message_type.md
  content/zh/docs/kitex/Tutorials/basic-feature/message_type.md
Labels: Kitex

#1062 blog: add foundersc user case
  content/zh/cooperation/_index.md
  content/zh/cooperation/foundersc.md
  static/img/users/foundersc/foundersc1.png
  static/img/users/foundersc/foundersc10.png
  static/img/users/foundersc/foundersc11.png
  static/img/users/foundersc/foundersc12.jpg
  static/img/users/foundersc/foundersc13.jpg
  static/img/users/foundersc/foundersc14.jpg
  static/img/users/foundersc/foundersc2.png
  static/img/users/foundersc/foundersc3.png
  static/img/users/foundersc/foundersc4.png
  static/img/users/foundersc/foundersc5.png
  static/img/users/foundersc/foundersc6.png
  static/img/users/foundersc/foundersc7.jpg
  static/img/users/foundersc/foundersc8.png
  static/img/users/foundersc/foundersc9.png
Labels: blog

#1064 docs: add git template branch desc in cwgo
  content/en/docs/cwgo/tutorials/client/command.md
  content/en/docs/cwgo/tutorials/server/command.md
  content/en/docs/cwgo/tutorials/templete-extension/_index.md
  content/zh/docs/cwgo/tutorials/client/command.md
  content/zh/docs/cwgo/tutorials/server/command.md
  content/zh/docs/cwgo/tutorials/templete-extension/_index.md
Labels: Cwgo
